h1{
   text-align: center; 
   font-family: Arial, "Arial Black", "Times New Roman", serif; 
   text-decoration: underline; 
   color: 	
   #FFFFFF; 
}
p{
   text-indent: 20px; 
   color: rgb (0,0,255); 
}
strong {
   color: 	
   #FFFFFF; 
   text-decoration: blink;
}



#Darksouls2  {

  background-color: black; 
}



h1{
   text-align: center; 
   font-family: Arial, "Arial Black", "Times New Roman", serif; 
   text-decoration: underline; 
   color: 	
   #FFFFFF; 
}
p{
   text-indent: 20px; 
   color: rgb (0,0,255); 
}
strong {
   color: 	
   #FFFFFF; 
   text-decoration: blink;
}



#Darksouls2 {  
   background-color: black; 
}



#Darksouls2  {

border: solid; 
}

#Darksouls2  {
border: outset rgba(253, 145, 3, 0.774);
}

#Darksouls2  {


 
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  float: center;

}


#Darksouls2  {


  transition-property: opacity;
  transition-duration: 250ms;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  float: center;

}


body {background-image: url()
  
{
border: solid; 
}

#Darksouls2 {
border: outset rgba(253, 145, 3, 0.774);
}

#Darksouls2 {


 
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  float: center;

}


#Darksouls2  {
  transition-property: opacity;
  transition-duration: 250ms;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  float: center;

}


body {background-image: url()
  

 



  

 
