h1{
   text-align: center; 
   font-family: Arial, "Arial Black", "Times New Roman", serif; 
   text-decoration: underline; 
   color: 	
   #ffffff91; 
}
p{
   text-indent: 20px; 
   color: rgb (0,0,255); 
}
strong {
   color: 	
   #ffffff80; 
   text-decoration: blink;
}



#Bloodborne {

  background-color: black; 
}



h1{
   text-align: center; 
   font-family: Arial, "Arial Black", "Times New Roman", serif; 
   text-decoration: underline; 
   color: 	
   #FFFFFF; 
}
p{
   text-indent: 20px; 
   color: rgb (0,0,255); 
}
strong {
   color: 	
   #FFFFFF; 
   text-decoration: blink;
}



#Bloodborne {

  background-color: black; 
}



#Bloodborne  {

border: solid; 
}

#Bloodborne {
border: outset rgba(253, 145, 3, 0.774);
}

#Bloodborne {


 
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  float: center;

}


#Bloodborne {


  transition-property: opacity;
  transition-duration: 250ms;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  float: center;

}



  



body {background-image: url()
  

 